body, pre {
	height: 100%;
	background: #424242;
	color: #E1E1E1;
	font-family: "Agency FB", fantasy;
	font-weight: normal;
	font-size: x-large;
	margin: 2%;
}
h1, h2, h3, h4, h4, h5, h6{
	font-family: "Showcard Gothic", fantasy;
	font-weight: lighter;
	font-size: x-large;
	text-align: center;
}
h1{
	font-size: xx-large;
}
table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	margin-left: auto;
	margin-right: auto;
}
th,
td {
	white-space: nowrap;
	padding: 15px;
	font-family: "Showcard Gothic", fantasy;
	font-weight: lighter;
	font-size: medium;
	text-align: center;
}
th {
	background-color: #424242;
}
.borderTop{
	border-top: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
}
.borderLeft{
	border-left: 1px solid #E1E1E1;
	border-right: 1px solid #E1E1E1;
}
tr:hover {
			background-color: rgba(255,255,255,0.3);
}
td {
  position: relative;
}
td:hover:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
.slider{
	margin: 2rem 1rem 4rem;
	font-weight: bold;
	font-size: inherit;
}
button {
	border: none;
	background: #404040;
	color: #ffffff !important;
	font-family: "Agency FB", fantasy;
	font-weight: bold;
	padding: 20px;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}
button:hover {
	color: #404040 !important;
	font-weight: bolder !important;
	letter-spacing: 3px;
	background-color: #E1E1E1;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
}
.center {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 7%;
	height: 7%;
}
.display {
	font-family: "Showcard Gothic", fantasy;
}